<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/> <!-- Note the closing '/' character -->
    <title>Welcome</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<h3 th:text="'Welcome ' + ${username} + '!'"></h3>
<a th:href="@{/}">Select your spa services here!</a>

<h2>Users</h2>
<th:block th:each="someUser : ${users}">
    <p><a th:href="@{'/user/details/' + ${someUser.id}}" th:text="${someUser.userName}"></a></p>
</th:block>
</body>
</html>